parrafo {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
titulo{
    background-color: black;
    color: whitesmoke;
    text-align: center;    
}
subtitulo {
    background: black;
    color: white;
}
copyright {
    background-color: black;
    color: darkblue;
    padding: 1px 3px;
    outline: black;
    text-align: center;
}
.center-text{
    text-align: center;
}
a.center-text{
    display: block;
}

#Cuerpo1{
    background: black;
}
#Titulo1{
    background: darkred;
}
#Footer1{
    background: purple;
}
#Formulario1{
    background: gray;
}
@media (min-width:800px){
    #Cuerpo1{
        width: 50%;
    }
}