parrafo {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
titulo{
    background-color: black;
    color: darkgoldenrod;
    text-align: center;    
}
subtitulo {
    background-color: gray;
    color: black;
}
copyright {
    background-color: black;
    color: darkblue;
    padding: 1px 3px;
    outline: black;
    text-align: center;
}
.center-text{
    text-align: center;
}
a.center-text{
    display: block;
}

.Cuerpo1{
    background-color: black;
}
